@import './config.scss';

.page-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 1.5rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

nav {
  padding: 0 1rem;
}

.preloader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  -webkit-box-shadow: 0 1px 0 0 #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  label:not(:last-child) {
    margin-right: 1rem;
  }
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 2rem;
}




